body{
    width: 99%;
    background-image: linear-gradient(#808080,#404040);
}

#hazi{
    position: absolute;
    height: 95%;
    width: 35%;
    top: 35px;
    left: 10px;
    resize: none;
    background-image: linear-gradient(#cccccc,#a6a6a6);
    font-family: 'Trebuchet MS';
}

h1{
    position: absolute;
    left: 37%;
    top: 0px;
    font-family: 'Trebuchet MS';
}

#marancs{
    position: absolute;
    left: 40%;
    top: 60px;
}

#beck{
    position: absolute;
    left: 75%;
    top: 60px;
}

button{
    background-image: linear-gradient(#ccffff,#e6ffff);
    border: 2px solid #b3ffff;
}

button:hover{
    background-image: linear-gradient(#66ffff);
}

p{
	position: relative;
	width: 100%;
	top: 6%;
	font-size: 160%;
	font-family: Trebuchet MS;
}

#marancs #be{
  position: relative;
  top: 58.2%;
}

#clearB{
    position: absolute;
    left: 190px;
    top: 7.5px;
}

#beNulla{
    position: absolute;
    left: 10px;
    top: 7.5px;
}