body{
    width: 99%;
    background-image: linear-gradient(#808080,#404040);
}

#hazi{
    position: absolute;
    height: 97%;
    width: 35%;
    top: 10px;
    resize: none;
    background-image: linear-gradient(#cccccc,#a6a6a6);
    font-family: 'Trebuchet MS';
}

h1{
    position: absolute;
    left: 37%;
    top: 0px;
    font-family: 'Trebuchet MS';
}

button{
    position: relative;
    left: 37%;
    top: 40px;
    background-image: linear-gradient(#ccffff,#e6ffff);
    border: 2px solid #b3ffff;
}

button:hover{
    background-image: linear-gradient(#66ffff);
}

p{
	position: relative;
	left: 36.91%;
	width: 40%;
	top: 6%;
	font-size: 160%;
	font-family: Trebuchet MS;
}

#be{
  position: relative;
  left: 40%;
}
